.navbar-container {
    height: 68px;

    .navbar-user-container {
        display: inline-flex;
        gap: 10px;
        .navbar-user--icon {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 992px) {
    .navbar-brand-container {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }

    .navbar-toggle-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-toggle-container {
        font-size: 0.6rem;
    }
}
